/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  inline-size: 100%;
  min-block-size: 100dvb;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
  background-image: 
    repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7, #1a1a1a);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  margin-block-start: 100px;
  margin-inline: auto;
  inline-size: var(--header-main-inline-size);
  padding-block: 128px;
  background-color: #fff;
  border: 2px solid #000;
  display: grid;
  grid-template-rows: min-content min-content;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  row-gap: 20px;
  position: relative;
}

.header-block-big {
  display: block;
  inline-size: 100%;
  font-family: var(--accent-font);
  font-size: var(--heder-logo-font-size);
  line-height: var(--heder-logo-font-size);
  font-weight: var(--font-weight-m);
}

.header-block-small {
  display: block;
  font-family: var(--accent-font);
  font-size: var(--header-title-font-size);
  line-height: var(--header-title-font-size, 23px);
  text-align: center;
  font-weight: var(--font-weight-m);
  text-transform: uppercase;
}

main {
  margin-inline: auto;
  inline-size: var(--header-main-inline-size);
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section-content {
  display: grid;
  grid-template-columns: 1fr min-content min-content;
  grid-template-rows: min-content min-content 1fr;
  row-gap: 0;
  flex-direction: column;
  border: 2px solid #000;
  background-color: #fff;
  justify-content: flex-end;
  position: relative;
}

.section-content:nth-child(1) {
  margin-block-start: 100px;
}

.section-content h2 {
  display: block;
  
  grid-column: 1/-1;
  grid-row: 1 / auto;
  padding-block: 3px;
  font-family: var(--main-font);
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-weight-l);
  line-height: 1.36rem;
  padding: 3px 24px 3px 10px;
}

.section-content-image {
  display: block;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
  object-position: center;
  object-fit: cover;
}

.image-and-frase {
  display: block;
  grid-column: 1/-1;
  grid-row: 2 / auto;
  position: relative;
  inline-size: 100%;
  
}

.section-content-my-frase {
  display: block;
  content: var(--label-text);
  color: var(--text-color);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 0.875rem;
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 13px;
  text-shadow: 0 0 1px #fff;
  mix-blend-mode: hard-light;
  max-inline-size: 310px;
  z-index: 1;
}

@supports((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  /* stylelint-disable-next-line rule-empty-line-before */
  .section-content-my-frase {
    -webkit-text-stroke: 1px #fff;
    /* stylelint-disable-next-line property-no-unknown */
    text-stroke: 1px #fff;
    text-shadow: none;
  }
} 

.section-text {
  grid-column: 1/-1;
  grid-row: 3 / auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.3125rem;
  font-variation-settings: 'wght' var(--font-weight-m);
}

.card__icon-button {
  grid-row: 4 / auto;
  grid-column: 2 / auto;
  background-color: transparent;
  inline-size: 38px;
  block-size: 38px;
  border: 2px solid transparent;
  margin-inline-end: 6px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 0.3s ease;
}

.card__icon-button img {
  inline-size: 27px;
  block-size: 24px;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--main-color);
}

.button {
  border: 2px solid var(--main-color);
  background-color: var(--button-color);
  transition: box-shadow 0.3s;
  position: relative;
  color: var(--button-color);
}



.card__like-button {
  inline-size: 130px;
  grid-row: 4 / auto;
  grid-column: 3 / auto;
  block-size: 38px;
  margin-block-end: 25px;
  align-self: flex-end;
  margin-inline-end: 25px;
  
}

.button__text {
  display: block;
  align-self: center;
  justify-content: center;
  font-weight: var(--font-weight-m);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 0.7875rem;
  mix-blend-mode: difference;
  position: relative;
  z-index: 10;
}

.safe {
  display: flex;
  align-items: center;
  align-self: center;
  inline-size: 335px;
  padding-inline-start: 19px;
  padding-block: 15px;
  margin-inline: auto;
  margin-block-end: 103px;
}

.button::before {
  content: '';
  inset: 0;
  background-color: var(--main-color);
  position: absolute;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
}

.button svg {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

button:hover {
  cursor: pointer;
}

.safe .button__text {
  padding: 0;
  margin-inline-start: 3.5px;
}

.size-svg {
  width: 21px;
  height: 21px;
}

.modal__window {
  inline-size: var(--modal-window-inline-size);
  grid-template-columns: min-content 1fr;
  column-gap: 12px;
  row-gap: 30px;
  padding-inline: 30px;
  padding-block: 30px;
  border: none;
  outline: 2px solid currentColor;
  margin-inline: auto;
  z-index: 3;
}

.modal__window .size-svg {
  width: 39px;
  height: 39px;
}

.modal__window[open] {
  display: grid;
  position: fixed;
}

.modal__window-text {
  max-inline-size: 198px;
  grid-column: 2/-1;
  color: currentColor;
  font-weight: var(--font-weight-m);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: var(--line-height-modal-window-text);
  text-transform: uppercase;
}

.modal__window svg {
  margin-block-start: 12px;
}

.modal__window-button {
  grid-column: 1/-1;
  grid-row: 2 / auto;
  text-transform: uppercase;
  padding-block: 12.5px;
}

dialog::backdrop {
  background: var(--main-color, #000);
  opacity: 0.75;
}

.filter__blur {
  filter: blur(1px);
}

.filter__contrast {
  filter: contrast(200%);
}

.filter__grayscale {
  filter: grayscale(0.8);
}

.filter__sepia {
  filter: sepia(0.9);
}

.filter__hue-rorate {
  filter: hue-rotate(180deg);
}

.filter__saturate {
  filter: saturate(0.8);
}

.filter__invert {
  filter: invert(1);
}

.filter__something {
  filter: brightness(1.3) opacity(0.8) contrast(2);
}

.button:focus-visible {
  box-shadow: 2px 2px 0 #000;
  outline: none;
}

@media (width <= 376px) {

  .header {
    padding-block: 120px;
  }

  .section-content h2 {
    padding: 4px 10px 6px 10px;
  }

  .section-content-image {
    block-size: 375px;
  }

  .safe {
    flex-direction: column;
    gap: 8px;
    inline-size: 306px;
    padding-block: 15px;
    margin-block-end: 100px;
    margin-block-start: 2px;
  }

  .size-svg {
    width: 28px;
    height: 28px;
  }
}


